<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://raw.githubusercontent.com/lwh5201314mt/exdemo/master/qjm3.ipa</string>
		<key>displayImageURL</key>
		<string>https://raw.githubusercontent.com/lwh5201314mt/exdemo/master/icon57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://raw.githubusercontent.com/lwh5201314mt/exdemo/master/icon512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.cesvpn.one</key>
		<string>vpn_c1</string>
		<key>com.cesvpn.one.CallDirectory</key>
		<string>vpn_c2</string>
		<key>com.cesvpn.one.packettunnel</key>
		<string>vpn_c3</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>5BK3MS7NMK</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
